@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 81 33% 95%;
    --foreground: 90 25% 15%;
    --card: 81 33% 100%;
    --card-foreground: 90 25% 15%;
    --popover: 81 33% 100%;
    --popover-foreground: 90 25% 15%;
    --primary: 88 38% 39%;
    --primary-foreground: 81 33% 98%;
    --secondary: 90 25% 90%;
    --secondary-foreground: 90 25% 25%;
    --muted: 90 25% 90%;
    --muted-foreground: 90 25% 45%;
    --accent: 54 76% 53%;
    --accent-foreground: 54 80% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 90 25% 85%;
    --input: 90 25% 88%;
    --ring: 88 38% 39%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --sidebar-background: 85 30% 97%;
    --sidebar-foreground: 90 25% 25%;
    --sidebar-primary: 88 38% 39%;
    --sidebar-primary-foreground: 81 33% 98%;
    --sidebar-accent: 90 30% 92%;
    --sidebar-accent-foreground: 90 25% 15%;
    --sidebar-border: 90 25% 88%;
    --sidebar-ring: 88 38% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
